
body {
  font-family: 'Dosis', sans-serif !important;
  color: #444444;
}

a {
  color: #e43c5c;
}

a:hover {
  color: #ea6981;
  text-decoration: none;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  transition: 0.5s;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #e43c5c;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top:hover {
  bottom: 19px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 60px;
  margin-bottom: -1px;
}

#header.header-scrolled, #header.header-inner-pages {
  background: linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
  background-color: #01add3;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  height: 10%;
}

#header.header-scrolled .logo a, #header.header-inner-pages .logo a {
  color: #493c3e;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  #header.header-scrolled, #header.header-inner-pages {
    height: 8%;

  }

}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 25px;
  color: #06aed5;
  text-decoration: none;
text-transform: capitalize;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  padding: 0 4px;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;

}



.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  transform: scaleX(1);
  text-decoration: none;

}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
  background-color: white;

}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #493c3e;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #3c7fe4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.header-scrolled .nav-menu > ul > li > a, .header-inner-pages .nav-menu > ul > li > a {
  color: #ffffff;
}
@media (max-width: 990px) {
.d-mobile{
  display: none;
}
}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
/*languages */
.languages{

	border-radius:10px;
	cursor:pointer;
	font-size:16px;
	text-shadow:0px 0px 0px #263666;
  margin-left: 15px;
  padding-left: 5px !important;
}
@media  (min-width:768px){

  body > header > nav > ul > li > .languages{
  box-shadow:inset 0px -3px 16px 0px #29bbff;
  background:linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
  background-color:#01add3;
	border-radius:none;
	cursor:pointer;
	font-size:none;
	text-shadow:none;
}

}
/* Mobile Navigation */
.mobile-nav-toggle
 {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 0%;
  right: 0px;
  padding-bottom: 20px;
  z-index: 9999;
  overflow-y: auto;
  background: #efefef;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #493c3e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #068ede;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(45, 37, 38, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
/*--------------------------------------------------------------
# navigation other pages
--------------------------------------------------------------*/
.header-pages{
  background: linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background:url("../../images/IMG_5176.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}




#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

.image-text-header {
  margin: 0 0 10px 0;
  font-size: 65px;
  font-weight: 10;
  line-height: 56px;
  color: #fff;
  letter-spacing: 0.2rem;
  padding-top: 150px ;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero h2, #whySpeeddate-image h2 {
  font-family: arial;
  padding-top: 20px;
  color: #eee;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

#hero .btn-get-started {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
}

#hero .hero-container .button-box a{

  background:linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
	background-color:#01add3;
  text-shadow: none;
}

#hero .btn-get-started:hover {
  background-color: #06afd4;
  text-decoration: none;
}
#hero .btn-get-started:after {
  background-color: #06afd4;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
  border-radius: 5px;

}
#hero .btn-get-started:after {
  transform: translate(0, 0);
}
#hero .btn-get-started:hover {
  color: white;
  transform: scale(1.05);
  will-change: transform;
}



@media (max-width: 768px) {
  #hero h3 {
    font-size: 22px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #fdeff2;
  color: #e43c5c;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #e43c5c;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
/*--------------------------------------------------------------
# Services section
--------------------------------------------------------------*/
#symbols{
  padding-top: 0px;
  padding-right: 10px;
  background-color: #F7F7F7;
  padding-bottom: 0px;
}
.card{
  border: none !important;
  background-color: #F7F7F7 !important;
}
.card-deck{
  margin-right: 0px!important;
  margin-left: 0px!important;

}
.card-title{
  margin-right: 0% !important;
  margin-left: 10%;
  text-align: center;
  font-weight: 600;
}
.card-paragraph{
  font-family: calibri light;
  margin-left: 10%;
  text-align: center;
  margin-top: -5px;
  line-height: 18px;

}
.icons{
  width: 30% !important;
  margin-left: 40%;
}

/*--------------------------------------------------------------
# Evenementen
--------------------------------------------------------------*/
.event-title{
}
.jumbotron{
  background-color: #ffff !important;
margin-top: -50px;
}
.display-4 , .lead{
  text-align: left;
}

.Arrow{
  margin-top: 5%;
}
.border{
  display: block;
  width: 80%;
  height: 3px;
  background: #cfcfcf;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .Arrow {
    margin-top:-2%;
    margin-left: 55%;
    position: absolute;
  }
}
/*--------------------------------------------------------------
# search events
--------------------------------------------------------------*/
.search{
  display: inline;
}
.padding-drop{
  display: inline-block;
  background-color: #F7F7F7;
  padding: 15px;
  width: 75%;
  margin: 7%;
  justify-content: space-around;
}

.btn-secondary{
  background-color: #6c757d00;
  border-color: #59cee8;
  width: inherit;
  margin-left: inherit;
}
#repeat{
  border: none;
}
#searchContainer{
  margin-top: -125px;
}
@media (min-width: 475px) and (max-width: 1000px) {
  .padding-drop{
    left: 5%;

}
}
@media (min-width: 475px) {
  .padding-drop{
    display: inline-flex;

}
}

@media (min-width: 768px) {
  #searchContainer {
    margin-top: -215px;

  }

}
@media (min-width: 1000px) {
  .padding-drop{
    left: 0%;

}
}
@media (min-width: 1335px) {
  .padding-drop{
    left: 5%;

}
}
/*--------------------------------------------------------------
# search results
--------------------------------------------------------------*/
.container{
  width: 100%;
}

.bg {
  position: absolute;
	display: inline-block;
	height:90px;
	color: darkgrey;
	background: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1em;
	width: 15%;
  margin: 7%;
  margin-left: 77%;
}
.date, .date2{
	margin-left: 1px;
	text-align: center;
	width: 25px;
	border-bottom: 2px solid #4ab7ec;
}
.date2{
  	font-size: 21px;
}
.date, .date2, .date3{
  text-align: center;
}
.date3{
  	margin-right: 1px;

	margin-left: 1px;
		font-size: 14px;
}
.date{
	font-size: 14px;
}
#results .container .card{
  background-color: transparent !important;
  display: inline-block;
  justify-content: space-between;
  border: 1px solid #e9e9e9 !important;
  width: 21rem;
  max-width: 1400px;
  margin-bottom: 10%;
  border-radius: 20px 20px 0px 0px;
 -moz-border-radius: 20px 20px 0px 0px;
 -webkit-border-radius: 20px 20px 0px 0px;
}
.card-body{
  font-size: larger;
  padding-top: 50px;
  padding-right: 10%;
  padding-left: 10%;
}
#carouselExampleIndicators{
  padding-top:80px;
}

.age{
  padding-top: 15px;
    color:black;
  }
  .float{
    color: #29bcdc;
    float: right;
  }
  .results-body{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3.5%;
  }
.fa-venus{
  color: lightpink !important;
}
.fa-mars{
  color: lightblue
}
.fa-user-plus{
  color: lightblue
}
.fa-euro-sign{
  color: #29bcdc !important;
}
.btn-primary{
  float: right;
  background-color: transparent;
  color: #29bcdc;
  padding-left: 5px;
  padding-right: 5px;
  border-color: #29bcdc;
  margin-top: -5px !important;
}
.btn-primary:hover{
  background-color: #29bcdc;
  background: linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
  background-color: #01add3;
}
.results-title{
  margin-top: 10px;
  text-align: left;
  margin-left: 0%;
}
.more-results{
  color: #01add3;
}
.more-results:hover{
text-decoration: underline;
color: #01add3;
cursor: pointer;
}
.center{
  text-align: center;
}
.fa-euro-sign{
  color:
}
@media (max-width: 768px) {
  #results .container .card{
    width: 18rem;
}
}

@media (min-width: 375px) {
  .center-results{
    padding-left: 10%
  }

}
@media (min-width: 768px) {
#results .container .card{
      margin-right: 2%;
      margin-bottom: 2%
  }

}


@media (min-width: 1000px) {
  .center-results{
    padding-left: 2%
  }

}
@media (min-width: 1200px) {
  .center-results{
    padding-left: 10%
    color: #01add3;

  }

}
/*--------------------------------------------------------------
# as seen on
--------------------------------------------------------------*/
#as-seen-on{
  height: 300px;
  width: 100%;
  background-color: #F7F7F7;
}
#as-seen-on h2{
 color: #01add3;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
  bottom: -40px;

}
.as-seen-img-mobile{
  max-width: none !important;
  width: 50px;
}
.humom{
  padding-left: 50px;
}

.flair, .humo{
  display: none;
}
@media (min-width: 768px) {
  .flair, .humo{
    display: inline;
  }
  .flairm, .humom{
    display: none;
  }
}
@media (min-width: 900px) {
  #as-seen-on{
    height: 400px;
    width: 100%;
    background-color: #F7F7F7;
  }
}


/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    height: 0px;
    width: 22px;
}

.blog .carousel-indicators .active {
background: #707070;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.line{
    width: 80%;
    border-bottom: 3px solid #cfcfcf;
    margin-top: 50px;
    margin-left: 10%;
}
.testimonials-response{
  margin: 10%;
	display: flex;
	justify-content: space-between;
}

 .wrapper {
	 width: 70px;
	 height: 250px;
	 border-radius: 10px;
}
 .wrapper .profile {
	 position: relative;
}


 .wrapper .profile .thumbnail {
	 width: 160px;
	 height: 160px;
	 display: flex;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 1.5em;
	 border-radius: 100%;
}
 .wrapper .profile .name {
	 color: #28bbdc;
	 font-size: 24px;
	 font-weight: 600;
	 text-align: center;
   margin-bottom: -5px;
}
 .wrapper .profile .title {
   padding-bottom: 15px;
	 color: lightblue;
	 font-size: 24px;
	 font-weight: 300;
	 text-align: center;
	 letter-spacing: 1.5px;
}
 .wrapper .profile .description {
	 color: #080911;
	 font-size: 16px;
	 font-weight: 300;
	 text-align: center;
	 width: 50%;
	 margin-left:25%;
	 margin-right:25%;
   margin-bottom: 0px;
   margin-top: -50px;
}
.Arrow2{
  margin-left: 50px;
}
.quote{
  margin-top: -110px;
  text-align: center;
  font-size: 120px;
  color: #4ab7ec;
  font-weight: bold;
}
#testimonials .center img{
  margin-top: -2%;
}
.carousel-item.active {
    display: flex !important;
  }
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: none;
  }

  .height-testimonials{
    height: 500px;
  }

/*--------------------------------------------------------------
# subscribe
--------------------------------------------------------------*/


 #wrapper {
	 position: relative;
	 margin-top: 30px;
	 left: 0;
	 width: 100%;
}
 #subscribe {
   width: 100%;
	 padding: 3%;
	 height: 610px;
	 overflow: hidden;
}
 .information-column {
	 width: 40%;
	 height: 100%;
	 overflow: hidden;
	 float: left;
	 position: relative;
	 background-image: url('../../images/iStock-92021632.jpg');
	 background-repeat: no-repeat;
	 background-position: right;
	 background-size: cover;
}
 .content {
	 width: 100%;
	 height: 100%;
	 padding: 30px;
}

 .form-column {
	 width: 60%;
	 height: 100%;
	 padding: 15px;
   padding-top: 50px;
	 float: right;
background-color: #F7F7F7;
}
.form-column h2{
  color: #01add3;
}
.form-column p{
  color: grey;

}

 .form {
	 width: 100%;
	 opacity: 0;
}
 .form {
	 opacity: 1;
}
 .form label {
	 display: block;
	 width: 100%;

}
 .form input {
	 width: 85%;
	 padding: 8px;
	 border: none;
	 background: none;
	 border: 1.5px solid lightblue;
   -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -ms-border-radius: 4px;
	 border-radius: 7.5px;
	 margin-bottom: 10px;
	 letter-spacing: 1px;
}
.newsletter-title{
  font-size: 1.5rem;
}
.checkbox{
  width: 7% !important;
}
 .payment {
	 margin-top: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
 .subscribe-btn {
	 float: left;
	 margin-top: 15px;
	 padding: 10px;
	 text-align: center;
	 color: #ffffff;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -ms-border-radius: 4px;
	 border-radius: 4px;
	 border: none;
	 cursor: pointer;
   background:linear-gradient(to bottom, #01add3 5%, #6dd5ed 100%);
  background-color:#01add3;
   text-shadow: none;
   padding-left: 15px;
   padding-right: 15px;
}
 .subscribe-btn i {
	 margin-left: 8px;
}
.inputs{
  display: flex;
}
.info-input{
  margin-right: 10px;
  width: 41% !important;
}
@media (min-width: 1300px) {
  #subscribe{
    height:560px;
  }
}

/*--------------------------------------------------------------
# giftcard
--------------------------------------------------------------*/
.gift {
  padding: 3%
}
.background-gift{
  background-color: #F7F7F7;
  height: 100%;
}
.padding-gift{
  padding-top: 25px;
}
.gift-title{
  font-size: 30px;
  color: #01add3;
  text-align: left;
  padding-top: 50%;
  margin-left: 0%;
  margin-top: -70px;
}
.background-gift .col-md-8 .card-body p{
color: grey;
}
.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #493c3e;
}

.pricing .box h4 {
  font-size: 42px;
  color: #e43c5c;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #493c3e;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #e43c5c;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .box .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  border: 2px solid #e43c5c;
  color: #e43c5c;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .box .btn-buy:hover {
  background: #e43c5c;
  color: #fff;
}

.pricing .recommended {
  border-color: #e43c5c;
}

.pricing .recommended .btn-buy {
  background: #e43c5c;
  color: #fff;
}

.pricing .recommended .btn-buy:hover {
  background: #d91e42;
  border-color: #d91e42;
}

.pricing .recommended-badge {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 13px;
  padding: 3px 25px 6px 25px;
  background: #fce6ea;
  color: #e43c5c;
  border-radius: 50px;
}
.card-img{
  height: 100%;
  width: 100%;
  background:url("../../images/1 (1).png");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.image-position{
  max-height: 460px;
  max-width: 100%;
  overflow: hidden;
}
.footer-image{
  margin-top: 420px;
  max-width: none;
  width: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media (min-width: 768px) {
  .footer-image{
    margin-top: 0px;
  }


}
@media (min-width: 1600px) {
  .footer-image{
width: 100%;
 }
}


/*--------------------------------------------------------------
# event page
--------------------------------------------------------------*/

#event-image{
 background-image: url('../../images/iStock-1150761834.jpg');
 height: 450px;
 background-attachment: fixed;
 background-position: top;
 background-size: cover;
 text-align: center;
}
.far, .fas{
  color: lightblue;
}
 .card h2 {
	 margin: 0;
	 padding: 0 1rem;
}
 .card .title {
	 padding: 1rem;
	 color: blue;
	 font-weight: bold;
	 font-size: 32px;
}
 .card .desc {
	 padding: 0.5rem 0.5rem;
	 font-size: 16px;
}
 .card .actions {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 align-items: center;
	 padding: 0.5rem 1rem;
}
 .card svg {
	 width: 85px;
	 height: 85px;
	 margin: 0 auto;
}
.icon-span{
  text-align: center;
  padding-left: 10px;
}
.inline-icons{
  padding: 10px;
  width: 100%;
  display: flex;
}
 .events {
	 display: grid;
}

.dropdown-events{
  display: inline-block;
}
 .title-total {
	 padding: 2.5em 1.5em 1.5em 1.5em;
}

 .img-portada {
	 width: 100%;
}
 .portada {
	 width: 100%;
	 height: 100%;
	 border-radius: 10px;
	 background-image: url("../../images/25-35.png");
	 background-position: bottom center;
	 background-size: cover;
}


.events-toggle{
  vertical-align: baseline !important;
  border: none;
}
 button {
	 border: none;
	 background: none;
	 font-size: 24px;
	 color: #8bc34a;
	 cursor: pointer;
	 transition: 0.5s;
}
#kortinglabel input{
  width: 80%;
}
@media (min-width: 768px) {
.events{
  grid-template-columns: 7fr 5fr;
}
}


/*--------------------------------------------------------------
# events details
--------------------------------------------------------------*/
.title {

    margin-bottom: 50px;
}
.photos-events-title{
  padding-top: 10%;
  text-align:center;
}
.d-block{
  padding-top: 30%;
}
.list-group{
  text-align: center;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
    top: 15%
}
.testimonials-events{
  padding-top: 50px;
}
.info-padding{
  padding: 50px;
}
#reviews-tab, #info-tab, #events-tab{
  color: #35c0df;
}
.profile-card-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
}
.list-group-item{
  background-color: #f7f7f7 ;
  border: none;

}

.profile-card-1 .card-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  top: 15%;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 85px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:16px;
  color: black;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 16px;
  margin-top:10px;
}
.carousel-control-prev, .carousel-control-next{
top: 30%;
}
#myTab{
justify-content: center;
}
.btn {
  margin-top: auto;
}

/*--------------------------------------------------------------
# waarom Speeddate page
--------------------------------------------------------------*/
#whySpeeddate-image{
  background-image: url('../../images/iStock-488088898.jpg');
  height: 550px;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  text-align: center;
}
#whySpeeddate-image h2 {
  font-style: italic;
padding-left: 10%;
width: 90%
}
#speeddate , #expectations{
  border-bottom: 2px dotted lightgrey;
}
#speeddate h3 , #expectations h3 , #succesvol h3{
  padding-bottom: 5%;
}
.heart-img{
  height: 275px;
  padding:10%;
}
.linkFAQ{
  color: blue;
}
.linkFAQ:hover{
  color: blue;
  text-decoration: underline;
}
.Count, .percentage {
  font-size: 70px;
}
.Count{
  color: #a3eeff;
}
.percentage{
  color: #d0d0d0;
}
.hearts-percentage{
  left: 25%;
  position: absolute;
  top: 25%;
}
.btn-link{
  text-align: left;
  width: 100%;
}
.fa-plus, .fa-minus{
  float: right;
}

@media  (max-width: 576px) {
  #whySpeeddate-image h2 {
    display: none;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f6f4f4;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ea6981;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #e43c5c;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #f7c2cc;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 15px;
  padding: 0 22px;
  background: #e43c5c;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #d01d3f;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e43c5c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #d01d3f;
  color: #fff;
  text-decoration: none;
}
